In [2]:
import pandas as pd

In [38]:
# Buenos Aires / listings.csv	/ Summary information and metrics for listings in Buenos Aires (good for visualisations).
url = "https://data.insideairbnb.com/argentina/ciudad-aut%C3%B3noma-de-buenos-aires/buenos-aires/2025-01-29/visualisations/listings.csv"
df = pd.read_csv(url)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35172 entries, 0 to 35171
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              35172 non-null  int64
 1   name                            35172 non-null  object
 2   host_id                         35172 non-null  int64
 3   host_name                       35166 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   35172 non-null  object
 6   latitude                        35172 non-null  float64
 7   longitude                       35172 non-null  float64
 8   room_type                       35172 non-null  object
 9   price                           31598 non-null  float64
 10  minimum_nights                  35172 non-null  int64
 11  number_of_reviews               35172 non-null  int64
 12  last_review                     29412 non-null  object
 13  reviews_per_month               29412 non-null  float64
 14  calculated_host_listings_count  35172 non-null  int64
 15  availability_365                35172 non-null  int64
 16  number_of_reviews_ltm           35172 non-null  int64
 17  license                         390 non-null    object
dtypes: float64(5), int64(7), object(6)
memory usage: 4.8+ MB

In [39]:
license_counts = df["license"].value_counts()
license_counts

license
RL-2021-14800886          8
RL-2021-19501767-DGDTU    7
RL-2021-11788655          3
123456                    3
483833368                 2
                         ..
1499                      1
morita0702                1
27183112789               1
1168077706                1
55228282                  1
Name: count, Length: 365, dtype: int64

In [40]:
# Elimino las columnas que no voy a a usar
df.drop(columns=['neighbourhood_group','license'], inplace=True)

In [41]:
df.shape

(35172, 16)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35172 entries, 0 to 35171
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              35172 non-null  int64
 1   name                            35172 non-null  object
 2   host_id                         35172 non-null  int64
 3   host_name                       35166 non-null  object
 4   neighbourhood                   35172 non-null  object
 5   latitude                        35172 non-null  float64
 6   longitude                       35172 non-null  float64
 7   room_type                       35172 non-null  object
 8   price                           31598 non-null  float64
 9   minimum_nights                  35172 non-null  int64
 10  number_of_reviews               35172 non-null  int64
 11  last_review                     29412 non-null  object
 12  reviews_per_month               29412 non-null  float64
 13  calculated_host_listings_count  35172 non-null  int64
 14  availability_365                35172 non-null  int64
 15  number_of_reviews_ltm           35172 non-null  int64
dtypes: float64(4), int64(7), object(5)
memory usage: 4.3+ MB

In [29]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
count,3.517200e+04,3.517200e+04,35172.000000,35172.000000,3.159800e+04,35172.000000,35172.000000,29412.000000,35172.000000,35172.000000,35172.000000
mean,7.117880e+17,2.143294e+08,-34.591554,-58.417289,9.548776e+04,6.159871,28.027579,1.325920,15.646878,206.609320,9.500625
std,4.840974e+17,2.027420e+08,0.018257,0.030169,1.402656e+06,26.072002,45.151666,1.336446,34.108688,126.189102,13.991379
min,1.150800e+04,1.342600e+04,-34.693700,-58.530890,2.600000e+02,1.000000,0.000000,0.010000,1.000000,0.000000,0.000000
25%,4.719776e+07,3.070016e+07,-34.602670,-58.437050,2.971100e+04,1.000000,2.000000,0.360000,1.000000,88.000000,0.000000
50%,8.875662e+17,1.421004e+08,-34.590890,-58.418914,3.990800e+04,2.000000,11.000000,0.930000,2.000000,231.000000,4.000000
75%,1.095206e+18,4.298024e+08,-34.581047,-58.392114,5.776200e+04,4.000000,36.000000,1.910000,12.000000,333.000000,13.000000
max,1.344330e+18,6.754917e+08,-34.534980,-58.355403,1.050217e+08,1000.000000,992.000000,26.080000,222.000000,365.000000,340.000000

In [32]:
# ver los otros atriubutos
room_type_counts = df["room_type"].value_counts()
room_type_counts

room_type
Entire home/apt    32083
Private room        2910
Shared room          118
Hotel room            61
Name: count, dtype: int64

In [33]:
cantidad_x_barrio = df["neighbourhood"].value_counts()
cantidad_x_barrio

neighbourhood
Palermo              11410
Recoleta              5105
San Nicolas           2363
Belgrano              1832
Retiro                1667
Monserrat             1646
Almagro               1312
Balvanera             1279
Villa Crespo          1200
San Telmo              988
Colegiales             805
Nuñez                  711
Caballito              676
Chacarita              603
Constitucion           454
Villa Urquiza          415
Puerto Madero          408
Barracas               263
Saavedra               246
San Cristobal          204
Flores                 162
Boca                   128
Villa Ortuzar          125
Coghlan                122
Villa Del Parque       119
Boedo                  119
Villa Devoto           112
Parque Patricios        95
Parque Chacabuco        79
Parque Chas             66
Villa Pueyrredon        61
Paternal                53
Floresta                43
Villa Luro              38
Agronomia               36
Villa Gral. Mitre       35
Villa Santa Rita        34
Mataderos               31
Liniers                 30
Parque Avellaneda       24
Velez Sarsfield         22
Monte Castro            16
Nueva Pompeya           11
Versalles                8
Villa Real               6
Villa Lugano             5
Villa Riachuelo          3
Villa Soldati            2
Name: count, dtype: int64

In [ ]:
df.iloc[0]["price"]

67518.0

In [19]:
314/3

104.66666666666667

In [ ]:
df.iloc[0]["price"]
# 67.518 $AR  .. 105 usd

# 28639682 -- 400/3

67518.0

In [23]:
df.query('id == 28639682').iloc[0]["price"]

105022.0

In [25]:
105022 / 133

789.6390977443609

In [13]:
# accediendo al 1er 
# df.iloc[0]["id"]
# df.iloc[0].id

"https://www.airbnb.com/rooms/" + str(df.iloc[0]["id"])

'https://www.airbnb.com/rooms/11508'

In [27]:
df.shape

(35172, 17)

In [43]:
import duckdb

In [ ]:
duckdb.execute("""
               create table listings 
               as select * from 
               read_csv_auto('https://data.insideairbnb.com/argentina/ciudad-aut%C3%B3noma-de-buenos-aires/buenos-aires/2025-01-29/visualisations/listings.csv')
               """)

In [50]:
count = duckdb.sql("SELECT count(*) as count FROM listings").df()
count["count"][0]
# Verificamos que la tabla se haya creado correctamente

35172

In [51]:
import altair as alt

In [54]:
source = duckdb.sql("""select room_type, count(*) as count
           from listings 
           group by 1 
           order by 2 desc;""").df()

In [60]:
alt.Chart(source).mark_bar().encode(
    x='count:Q',
    # y='room_type:N',
    # y=alt.Y('room_type:N').sort('-x')
    y=alt.Y('room_type:N', sort='-x'),
    tooltip=['room_type', 'count']
)

alt.Chart(...)